.floodSimContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(255, 255, 255, 0.9); /* Opaque background on hover */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
}

.floodSimContainer > h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.volume {
  font-weight: bold;
  font-size: 1.2rem;
}

.zurichFlood {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}

.floodImage {
  position: fixed;
  left: 0;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
